@import "vars";

.own-bgcolor {
    background-color: $bg-color !important;
}

.own-image {
    max-width:100%;
}
// html {
//     font-size: 62.5% !important; /* Default is 10px now */
// }

// body {
//     font-size: 2rem !important; /* basically equals 30px now by default */
// }


/*h1, h2, h3, h4, h5, h6 {
    text-align: center;
}*/