@import "vars";

.own-bgcolor {
    background-color: $bg-color !important;
}


.own-card-height {
    min-height: auto !important;
    overflow: hidden !important; 
}


// Mimicking bootstrap tablet breakpoint
@media screen and (min-width: 768px) and (max-width: 991px) {
    .own-card-height {
        min-height: 45vh !important;
    }

    div > img {
        min-height: 45vh !important;
    }
}

// Mimicking bootstrap desktop breakpoint
@media screen and (min-width: 992px) {
    .own-card-height {
        min-height: 50vh !important;
    }

    div > img {
        min-height: auto !important;
    }
}


// Hover Effect
div > img {
    overflow: hidden !important; 
    // max-height: 30vh !important;
    min-width: 100% !important;
    transform-origin: 65% 75% !important;
    filter: brightness(100%) !important;
    transition: transform 1000ms, filter 2000ms ease !important;
    &:hover {
        filter: brightness(120%) !important;
        transition: transform 500ms ease, filter 1000ms ease !important;
        transform: scale(1.1) !important;
      }
}

// Crop Hero Image
.own-home-bgimage {
    background: linear-gradient(rgba(129, 125, 125, 0), $bg-color), url('../img/hero1.jpg') !important;
    height: 25vh !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

.own-review-bgimage {
    background: linear-gradient(rgba(129, 125, 125, 0), $bg-color), url('../img/hero2.jpg') !important;
    height: 25vh !important;
    background-position: 40% 35% !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

// .own-navbar-inner {
//     object-fit: none !important;
//     // background-position: center center !important;
//     // background-repeat: no-repeat !important;
//     // background-size: 100% !important;
//     // background-image: url("img/hero1.jpg") !important;
//     // height:25vh !important;
// }

// html {
//     font-size: 62.5% !important; /* Default is 10px now */
// }

body {
    // font-size: 2rem !important; /* basically equals 30px now by default */
    font-family: "Open Sans", Calibri, 'Trebuchet MS', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Impact, Haettenschweiler, sans-serif  !important;
    font-weight: bolder  !important;
}


header, footer {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8) !important;
}